.RunResultDisplay {
    clear: both;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

.RunResultDisplay div {
    border-width:1px;
    border-color: black;
    border-style: none;
}

.Status {}


.RawResult pre {
    text-align: left;
    font-family: monospace;
}

.WebResult {
    text-align: left;
}

.RunResultItem {
}

.RunResultItemRecipes {
    float:left;
}

.Bonuses {
}

.ShoppingListItem {
    
}

.ShoppingListItem .Quantity {
    vertical-align: top;
}

.ShoppingListItem .Data {
    padding-left: 20px;
}

.ShoppingList {
    padding-left:20px;
}

.ShoppingLists {
    display: block;
    float: right;
    background-color: gray;
    padding-left: 25px;
}

.ShoppingListTitle {
    font-weight: bold;
}

.RecipeListing {}

.VendorItemPrice {}

.AHItemPrice {}

.PriceData {}

.RecipeListing {
    display: block;
    margin-left: 25px;
}

.PriceData .Gold {
    color: gold;
}

.PriceData .Silver {
    color: silver;
}

.PriceData .Copper {
    color: #b87333;
}