.ShoppingListItem {}

.ShoppingListItem .Quantity {
    vertical-align: top;
    text-align: right;
}

.ShoppingListItem .Data {
    padding-left: 20px;
}

.ShoppingListItem .Data .VendorItemPrice,.AHItemPrice {
    font-size: 10pt;
}

.ShoppingList {
    padding-left:20px;
}

.ShoppingLists {
    display: block;
    float: right;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ShoppingListsHeader {
    font-weight: bold;
    font-size: 14pt;
}

.ShoppingListTitle {
    font-weight: bold;
}