.Footer {
    clear: both;
    text-align: left;
    padding: 15px;
    background-color: #001f00;
    margin-top: 200px;
  }

  .Footer ul {
      list-style: none;
  }

  .Footer ul li, .Footer ul li a {
      margin: 10px;
      color: gray;
  }