[Unit]
Description=CPC auction scrape

[Service]
Type=oneshot
WorkingDirectory=/opt/wow_cpc
Environment='NODE_ENV=production' 'LOG_LEVEL=info'
ExecStart=/usr/bin/node -r dotenv/config ./hourly-injest.js
User=WOW_CPC

[Install]
WantedBy=multi-user.target